body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-image: url("images/cosmic.jpg");
  border-radius: 2px;
  max-width: 1280px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
h1
{
    text-align: center;
}

p
{
    text-align: justify;
}
#adresse,#tel,#mail{
	text-align: center;
	
	
	border: 3px blue dotted;
	
}
#nom{
	border: 3px blue dashed;
}
.blink {
	animation: blinker 1s linear infinite;
	
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}
.flex1{
	display: flex;
	flex-direction: row;
	justify-content: space between;
}
#mabio {
	 width: 750px;
	 height: 503px;
    border: 1px solid black;
    text-align: justify;
	overflow: scroll;
	margin: auto;
	padding: 12px;
	margin-bottom: 20px;
}
.textebio{
	/* inserer espaces entre les paragraphes !!! */
}